@media(max-width:1307px) {
    .content-center {
        margin-left: 30px;
        margin-right: 30px;
    }

    .content-center2 {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media(max-width:947px) {
    .cheaper-prices-block {
        height: auto;
        padding-bottom: 20px;
    }

    .expensive-prices-block {
        height: auto;
        padding-bottom: 20px;
    }
}

@media(max-width:1280px) {
    .categories-content {
        justify-content: center;
    }

    .categories>p:first-of-type {
        text-align: center;
    }

    .content-info p:nth-child(1) {
        text-align: center;
    }

    .content-info p:nth-child(2) {
        text-align: center;
    }

    .price-title p {
        text-align: center;
    }

    .content-center2 {
        margin-top: 40px;
    }

    .prices-title {
        text-align: center;
    }

    .inflation-block>p:first-of-type {
        text-align: center;
    }
}

@media(max-width:885px) {
    .inflation-topside {
        display: block;
    }

    .dates2 {
        display: none;
    }

    .graphics {
        width: 100%;
    }

    .dates-flex {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .dates {
        margin: 0 auto;
        display: none;
    }

    .dates3 {
        width: 100%;

    }

    .dates-flex .dates-content:nth-child(1) {
        margin-right: 35px;
    }

    .dates-flex .dates-content:nth-child(2) {
        margin-left: 35px;
    }
}

@media(min-width:886px) {
    .dates3 {
        display: none;
    }
}

@media(max-width:944px) {
    .cheaper-prices {
        flex-wrap: wrap;
        margin-top: 0px;
    }

    .cheaper-prices-block {
        margin: 0 auto;
        margin-top: 20px;
    }

    .cheaper-prices-title {
        text-align: center;
    }

    .expensive-prices-title {
        text-align: center;
    }

    .expensive-prices {
        flex-wrap: wrap;
        margin-top: 0px;
    }

    .expensive-prices-block {
        margin: 0 auto;
        margin-top: 20px;
    }

    .center2-items>p:first-of-type {
        text-align: center;
    }
}

@media(max-width:861px) {
    .center2-stats1 div {
        margin-left: 20px;
    }

    .center2-stats2 div {
        margin-left: 20px;
    }
}

@media(max-width:655px) {
    .center2-stats1 div {
        width: 100%;
    }
}

@media(max-width:565px) {
    .center2-stats1 {
        display: block;
    }

    .center2-stats2 {
        display: block;
    }

    .center2-stats2 div {
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }

    .center2-stats1 div {
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }
}

@media(max-width:644px) {
    .content-info p:nth-child(1) {
        font-size: 40px;
    }

    .content-info p:nth-child(2) {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    }
}

@media(max-width:699px) {
    .graphics {
        flex-wrap: wrap;
    }

}

@media(max-width:604px) {
    .graphics2 {
        display: none;
    }

    .dop-text p:last-child {
        display: block;
        width: 140px;
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        font-weight: 700;
        line-height: 16.9px;
        text-align: left;
        margin-top: 5px;
    }

    .graphics {
        align-items: start;
    }

    .dop-text {
        margin-top: 15px;
        margin-right: 20px;
    }
}

@media(max-width:379px) {
    .dop-text {
        margin-top: 15px;
        margin-right: 0;
    }

}

@media(max-width:604px) {
    .graphics {
        padding-bottom: 10px;
    }

}

@media(max-width:367px) {
    .dop-text {
        margin-top: 15px;
        margin-right: 15px;
    }

    .graphics {
        justify-content: center;
        padding-bottom: 10px;
    }

    .dates-flex .dates-content:nth-child(1) {
        margin-right: 0px;
    }

    .hr {
        margin-top: 10px;
    }

}

@media(max-width:463px) {
    .content-info p:nth-child(1) {
        font-size: 30px;
    }
}

@media(max-width:359px) {
    .content-info p:nth-child(1) {
        font-size: 25px;
    }
}

@media(max-width:341px) {
    .center2-stats2 div {
        width: 100%;
    }
}

@media(max-width:507px) {
    .content-center {
        margin-right: 30px;
    }
}

@media(max-width:375px) {
    .content-center {
        margin-right: 30px;
    }
}